<div class="normalheader transition animated fadeIn">
    <div class="hpanel tour-1">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                Consumer Config
            </h2>
        </div>
    </div>
</div> <!-- END: normalheader -->

<div class="content animate-panel">

<div class="row">
    <div style="" class="col-lg-6">
        <div class="hpanel stats">
            <div class="panel-body h-140">
                <div class="stats-title pull-left">
                    <h4>Consumer</h4>
                </div>
                <div class="stats-icon pull-right">
                    <i class="pe-7s-monitor fa-4x"></i>
                </div>
                <div class="m-t-xl">
                  <br><br>
                  <button class="btn btn-xs btn-info" type="button" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapseExample">
                    View Details
                  </button>
                  <button type="button" class="btn btn-xs btn-success" ng-click="executeConsumer()">Initialize</button>
                  <button type="button" class="btn btn-xs btn-danger" ng-click="terminateConsumer()">Terminate</button>


                  <div class="collapse"  id="collapse-1" aria-expanded="false" >
                        <hr>
                      <span class="font-bold no-margins">
                          Consumer API
                      </span>
                      <br>
                      <input class="form-control" ng-model="consumer_url" type="text"><br>

                      <span class="font-bold no-margins">
                          Marketplace API
                      </span>
                      <br>
                      <input class="form-control" ng-model="consumer.marketplace_url" type="text"><br>

                      <span class="font-bold no-margins">
                          Consumer / min
                      </span>
                      <br>
                      <input class="form-control" ng-model="consumer.consumer_per_minute" type="number"><br>

                      <p><i>The tick defines the reduction factor for the max req/sec </i></p><br>

                      <span class="font-bold no-margins">
                          Max req / sec
                      </span>
                      <br>
                      <input class="form-control" ng-model="consumer.max_req_per_sec" type="number"><br>

                      <span class="font-bold no-margins">
                          Parrallel Consumers
                      </span>
                      <br>
                      <input class="form-control" ng-model="consumer.amount_of_consumers" type="number"><br>

                      <span class="font-bold no-margins">
                          Buying Probability (in %)
                      </span>
                      <br>
                      <input class="form-control" ng-model="consumer.probability_of_sell" type="number"><br>

                      <span class="font-bold no-margins">
                          Timeout if no offers available
                      </span>
                      <br>
                      <input class="form-control" ng-model="consumer.timeout_if_no_offers_available" type="number"><br>

                      <span class="font-bold no-margins">
                          Min buying amount
                      </span>
                      <br>
                      <input class="form-control" ng-model="consumer.min_buying_amount" type="number"><br>

                      <span class="font-bold no-margins">
                          Max buying amount
                      </span>
                      <br>
                      <input class="form-control" ng-model="consumer.max_buying_amount" type="number"><br>

                      <span class="font-bold no-margins">
                          Min wait
                      </span>
                      <br>
                      <input class="form-control" ng-model="consumer.min_wait" type="number"><br>

                      <span class="font-bold no-margins">
                          Max wait
                      </span>
                      <br>
                      <input class="form-control" ng-model="consumer.max_wait" type="number"><br>

                      <hr><h4>Behaviors</h4>
                      <div ng-repeat="behavior in consumer.behaviors track by $index">
                        <span class="font-bold no-margins">
                          {{behavior.name}} (in %)
                        </span>
                        <br>
                        <input class="form-control" ng-model="consumer.behaviors[$index].amount" type="number"><br>
                      </div>

                      <br>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
