<div class="normalheader transition animated fadeIn">
    <div class="hpanel tour-1">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                Dashboard Overview
            </h2>
        </div>
    </div>
</div> <!-- END: normalheader -->

<div class="content animate-panel">

	<div class="row">
	   <div style="" class="col-md-3" ng-repeat="merchant in merchants">
	         <div ng-class="merchantStatus(merchant)">
	             <div class="panel-body">
	                 <div class="text-center">
	                     <h3>Merchant {{merchant["merchant_id"]}}</h3>
	                     <p class="text-big font-light">
	                         <small>{{merchant["state"]}}</small>
	                     </p>
	                 </div>
	             </div>
	         </div>
	    </div>
	</div>

	<div class="row">

	  <div style="" class="col-md-12">
	      <div class="hpanel">

	          <div class="panel-body">
	              <div class="m-b-md">
	                  <h4>
	                      Live Sales Data
	                  </h4>
	              </div>
	              <!--<button class="btn btn-success btn-block" ng-click="fetchSellingData()">Fetch selling data</button>-->
	              <div id="chart-liveSales"></div>
	          </div>

	      </div>
	  </div>

	</div>

  <div class="row">

    <div style="" class="col-md-12">
        <div class="hpanel">

            <div class="panel-body">
                <div class="m-b-md">
                    <h4>
                        Marketshare
                    </h4>
                    <p> Historic data is shown for all known merchants, live data is only shown for currently registered merchants.
                    </p>
                </div>
                <!--<button class="btn btn-success btn-block" ng-click="fetchSellingData()">Fetch selling data</button>-->
                <div id="chart-marketshare"></div>
            </div>

        </div>
    </div>

   <div class="row">

       <div style="" class="col-md-12">
           <div class="hpanel">

               <div class="panel-body">
                   <div class="m-b-md">
                       <h4>
                           Revenue
                       </h4>
                       <p> Historic data is shown for all known merchants, live data is only shown for currently registered merchants.
                       </p>
                   </div>
                   <!--<button class="btn btn-success btn-block" ng-click="fetchSellingData()">Fetch selling data</button>-->
                   <div id="chart-revenue"></div>
               </div>

           </div>
       </div>

    </div>

</div>

<!-- Modal for Loading Book Details -->
<div class="modal fade hmodal-success " id="loadingModal"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Please be patient..</h4>
            </div>
            <div class="modal-body">
                <p>
                  <center>
                    <img ng-src="/asset/images/loading.gif" class="text-center">
                  </center>
                </p>
            </div>
        </div>
    </div>
</div>
