<div class="normalheader transition animated fadeIn">
    <div class="hpanel tour-1">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                Deployment
            </h2>
        </div>
    </div>
</div> <!-- END: normalheader -->

<div class="content animate-panel">

<div class="row">
    <div style="" class="col-lg-3">
        <div class="hpanel stats">
            <div class="panel-body h-140">
                <div class="stats-title pull-left">
                    <h4>Consumer</h4>
                </div>
                <div class="m-t-xl">
                    <span class="font-bold no-margins">
                        Consumer API
                    </span>
                    <br>
                    <input class="form-control" ng-model="consumer.consumer_url" type="text"><br>

                    <span class="font-bold no-margins">
                        Name
                    </span>
                    <br>
                    <input class="form-control" ng-model="consumer.name" type="text"><br>

                    <span class="font-bold no-margins">
                        Description
                    </span>
                    <br>
                    <input class="form-control" ng-model="consumer.description" type="text"><br>

                    <br>
                    <button type="button" class="btn w-xs btn-success" ng-click="registerConsumer()">Register</button>

                </div>
            </div>
        </div>
    </div>
    <div style="" class="col-lg-3">
        <div class="hpanel stats">
            <div class="panel-body h-140">
                <div class="stats-title pull-left">
                    <h4>Merchant</h4>
                </div>
                <div class="m-t-xl">
                    <div class="alert alert-success" ng-show="merchant.merchant_token">
                        <b>Token:</b> {{merchant.merchant_token}} <br>
                        <b>ID:</b> {{merchant.merchant_id}}
                    </div>

                    <span class="font-bold no-margins">
                        Merchant API
                    </span>
                    <br>
                    <input class="form-control" ng-model="merchant.api_endpoint_url" type="text"><br>

                    <span class="font-bold no-margins">
                        Name
                    </span>
                    <br>
                    <input class="form-control" ng-model="merchant.merchant_name" type="text"><br>

                    <!-- <span class="font-bold no-margins">
                        Marketplace URL
                    </span>
                    <br>
                    <input class="form-control" ng-model="merchant.marketplace_url" type="text"><br> -->

                    <span class="font-bold no-margins">
                        Description
                    </span>
                    <br>
                    <input class="form-control" ng-model="merchant.algorithm_name" type="text"><br>

                    <br>
                    <button type="button" class="btn w-xs btn-success" ng-click="registerMerchant()">Register</button>
                    <br>

                    <div class="hr-line-dashed"></div>
                
                    <span class="font-bold no-margins"> Merchant Token </span><br>
                    <input class="form-control" ng-model="merchant.merchant_token_input" type="text"><br>
                    <button type="button" class="btn w-xs btn-info" ng-click="updateMerchant()">Update</button>
                    <button type="button" class="btn w-xs btn-danger" ng-click="unregisterMerchant()">Revoke Token</button>

                </div>
            </div>
        </div>
    </div>
</div>

</div>
