<div class="normalheader transition animated fadeIn">
    <div class="hpanel tour-1">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                Global Config
            </h2>
        </div>
    </div>
</div> <!-- END: normalheader -->

<div class="content animate-panel">

<div class="row">
    <div style="" class="col-lg-6">
        <div class="hpanel stats">
            <div class="panel-body h-140">
                <div class="stats-title pull-left">
                    <h4>Global</h4>
                </div>
                <div class="m-t-xl">
                    <span class="font-bold no-margins">
                        Merchant maximum requests per second
                    </span>
                    <br>
                    <input class="form-control" ng-model="max_req_per_sec" type="number"><br>

                    <br>
                    <button type="button" class="btn w-xs btn-success" ng-click="updateGlobalConfig()">Update</button>
                </div>
            </div>

        </div>
    </div>
</div>

</div>
