<div class="normalheader transition animated fadeIn">
    <div class="hpanel tour-1">
        <div class="panel-body">
            <h2 class="font-light m-b-xs">
                Inventory Dashboard
            </h2>
        </div>
    </div>
</div> <!-- END: normalheader -->

<div class="content animate-panel">

    <div class="row">

        <div style="" class="col-md-12">
            <div class="hpanel">

                <div class="panel-body">
                    <div id="highchart-inventory"></div>
                </div>

            </div>
        </div>

    </div>

</div>
