<div class="normalheader transition animated fadeIn">
    <div class="hpanel tour-1">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                Marketplace
            </h2>

        </div>
    </div>
</div> <!-- END: normalheader -->

<div class="content animate-panel">

<div class="row">

    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="table-responsive">
                    <table cellpadding="1" cellspacing="1" class="table">
                        <thead>
                        <tr>
                            <th>Offer ID</th>
                            <th>Product Name</th>
                            <th>UID</th>
                            <th>Product ID</th>
                            <th>Merchant ID</th>
                            <th>Price</th>
                            <th>Quality</th>
                            <th>Amount</th>
                            <th>Shipping Time Standard</th>
                            <th>Shipping Time Prime</th>
                            <th>Prime</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat='offer in offers track by $index'>
                            <td>{{offer["offer_id"]}}</td>
                            <td>{{findNameOfProduct(offer["uid"])}}</td>
                            <td>{{offer["uid"]}}</td>
                            <td>{{offer["product_id"]}}</td>
                            <td>{{offer["merchant_id"]}}</td>
                            <td>{{offer["price"]}}</td>
                            <td>{{offer["quality"]}}</td>
                            <td>{{offer["amount"]}}</td>
                            <td>{{offer["shipping_time"]["standard"]}}</td>
                            <td>{{offer["shipping_time"]["prime"]}}</td>
                            <td>{{offer["prime"]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


</div>

</div>
