<div class="normalheader transition animated fadeIn">
    <div class="hpanel tour-1">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                Marketplace
            </h2>

        </div>
    </div>
</div> <!-- END: normalheader -->

<div class="content animate-panel">


<div class="row">

   <div style="" class="col-md-12">
       <div class="hpanel">

           <div class="panel-body">
               <div class="m-b-md">
                   <button type="button" class="btn btn-xs btn-info" ng-click="updateKey()">Update Key</button>
                   <div class="form-horizontal">
                       <div class="form-group">
                         <div style="float:right" class="col-sm-2"><input class="form-control" ng-model="updateInterval" type="number"></div>
                         <label style="float:right" class="col-sm-2 control-label">Update Interval</label>

                       </div>
                   </div>
               </div>
           </div>

       </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <br>

                <div class="table-responsive">
                    <table id="offer_table_2" class="footable table table-bordered table-hover default footable-loaded">
                        <thead>
                        <tr>
                            <th class="footable-visible footable-first-column footable-sortable footable-sorted-asc">Offer ID</th>
                            <th class="footable-visible footable-sortable">Product Name</th>
                            <th class="footable-visible footable-sortable">UID</th>
                            <th class="footable-visible footable-sortable">Product ID</th>
                            <th class="footable-visible footable-sortable">Merchant</th>
                            <th class="footable-visible footable-sortable">Price</th>
                            <th class="footable-visible footable-sortable">Quality</th>
                            <th class="footable-visible footable-sortable">Amount</th>
                            <th class="footable-visible footable-sortable">Shipping Time Standard</th>
                            <th class="footable-visible footable-sortable">Shipping Time Prime</th>
                            <th class="footable-visible footable-sortable footable-last-column">Prime</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="display: table-row;" ng-repeat='offer in offers track by $index'>
                            <td class="footable-visible footable-first-column">{{offer["offer_id"]}}</td>
                            <td class="footable-visible">{{findNameOfProduct(offer["uid"])}}</td>
                            <td class="footable-visible">{{offer["uid"]}}</td>
                            <td class="footable-visible">{{offer["product_id"]}}</td>
                            <td class="footable-visible">{{findMerchantNameById(offer["merchant_id"])}}</td>
                            <td class="footable-visible">{{offer["price"]}}</td>
                            <td class="footable-visible">{{offer["quality"]}}</td>
                            <td class="footable-visible">{{offer["amount"]}}</td>
                            <td class="footable-visible">{{offer["shipping_time"]["standard"]}}</td>
                            <td class="footable-visible">{{offer["shipping_time"]["prime"]}}</td>
                            <td class="footable-visible footable-last-column">{{offer["prime"]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


</div>

</div>
