<div class="normalheader transition animated fadeIn">
    <div class="hpanel tour-1">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                Dashboard for Prices
            </h2>
        </div>
    </div>
</div> <!-- END: normalheader -->

<div class="content animate-panel">

    <div class="row">

        <div style="" class="col-md-12">
            <div class="hpanel">

                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div style="float:right" class="col-sm-1"><input class="form-control" ng-model="maxBulkSizeBuy" type="number"></div>
                            <label style="float:right" class="col-sm-4 control-label">Buy Offers until Redraw</label>

                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div style="float:right" class="col-sm-1"><input class="form-control" ng-model="maxBulkSizeUpdate" type="number"></div>
                            <label style="float:right" class="col-sm-4 control-label">Price Updates until Redraw</label>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="row">

        <div style="" class="col-md-12">
            <div class="hpanel">

                <div class="panel-body">
                    <div class="btn-group">
                        <p><strong>Filter the graph for a Product ID:</strong></p>
                        <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="true">ID {{currentIDFilter}}: {{getProductName(currentIDFilter)}}<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat='product_id in product_ids'><a href="javascript:void(0)" ng-click="filterPriceGraphForID(product_id)">{{product_id}}: {{getProductName(product_id)}}</a></li>
                        </ul>
                    </div>

                    <div id="highchart-price_and_sales"></div>
                </div>

            </div>
        </div>

    </div>

</div>

<!-- Modal for Loading Book Details -->
<div class="modal fade hmodal-success " id="loadingModal"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Please be patient..</h4>
            </div>
            <div class="modal-body">
                <p>
                  <center>
                    <img ng-src="asset/images/loading.gif" class="text-center">
                  </center>
                </p>
            </div>
        </div>
    </div>
</div>
