
#menu {
    width: 180px;
}

.logo {
    padding: 20px 20px;
    text-align: center
}

.stats-label {
    line-height: 1.2
}

#side-menu {
    background: #f7f9fa
}

#side-menu li a {
    color: #6a6c6f;
    font-weight: 700;
    padding: 15px 20px
}

#side-menu li {
    border-bottom: 1px solid #e4e5e7
}

#side-menu li:first-child {
    border-top: 1px solid #e4e5e7
}

#side-menu li.active a, #side-menu li:hover a {
    color: #34495e
}

#side-menu li .nav-second-level li a {
    padding: 10px 10px 10px 30px;
    color: #6a6c6f;
    text-transform: none;
    font-weight: 600
}

#side-menu li .nav-second-level li.active a {
    color: #34495e
}

#side-menu.nav > li > a:hover, #side-menu.nav > li > a:focus {
    background: white;
}

#side-menu li.active {
    background: white;
}

.arrow {
    float: right
}

.fa.arrow:before {
    content: "\f104"
}

.active > a > .fa.arrow:before {
    content: "\f107"
}